/*Themes*/
.notifly-chrome {

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+21,b8bac6+49,dddfe3+80,f5f6f6+100;Grey+Pipe */
	background: #f5f6f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */

}

.notifly-minimalist {

	background:#fff;
	border:2px solid #000080;

}

/* Elements */

/* ----------------------------------------------------Chrome------------------------------------------------------------------ */
.notifly-chrome table {
	border: 1px solid #e3e3e3;
	background-color: #f2f2f2;
    width: 100%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
.notifly-chrome table td, .notifly-chrome table th {
	/*text-align:center;*/
	padding: 5px;
	color: #333;
	word-wrap:break-word;
}
.notifly-chrome table thead {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: .2em 0 .2em .5em;
	color: #4B4B4B;
	background-color: #C8C8C8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3));
	background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
	border-bottom: solid 1px #999;
}
.notifly-chrome table th {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-style: normal;
	font-weight: bolder;
	text-shadow: white 1px 1px 1px;
	background: rgba(128, 128, 128, 0.3);
}
.notifly-chrome table td {
	line-height: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
.notifly-chrome table td:hover {
	background-color: #fff;
}

/* --------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------Minimalist-------------------------------------------------------------- */
.notifly-minimalist table {
	border: 1px solid #DFDFDF;
	background-color: #F9F9F9;
	width: 100%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif;
	color: #333;
}
.notifly-minimalist table td, .notifly-minimalist table th {
	border-top-color: white;
	border-bottom: 1px solid #DFDFDF;
	color: #555;
}
.notifly-minimalist table th {
	text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-weight: normal;
	padding: 7px 7px 8px;
	text-align: left;
	line-height: 1.3em;
	font-size: 14px;
}
.notifly-minimalist table td {
	font-size: 12px;
	padding: 4px 7px 2px;
	vertical-align: top;
}
/* --------------------------------------------------------------------------------------------------------------------------- */