.notifly-container {

	-webkit-transition: all .3s;
    transition: all .3s;

    transform:translateY(-550px);

	position:relative;
	width:95%;
	min-height:200px;
	height:auto;
	margin:0 auto;
	border-radius:8px;
	box-shadow:0px 2px 5px 1px #a0a0a0;
	opacity:0;
	top:10px;
	margin-bottom:15px;

}

.notifly-container .notifly-header {

	position:relative;
	width:calc(100% - 10px);
	height:35px;
	padding:5px;

}

.notifly-container .notifly-header .notifly-header-title {

	position:absolute;
	left:0;
	height:35px;
	padding:5px;
	font-weight:bold;
	font-size:24px;

}

.notifly-container .notifly-header .notifly-header-controls {

	position:absolute;
	right:0;
	height:35px;

}

.notifly-container .notifly-header .notifly-header-controls .notifly-header-controls-control {

	width:25px;
	height:25px;
	float:right;
	margin-right:5px;
	cursor:pointer;

}

.notifly-container .notifly-body {

	position:relative;
	margin-bottom:15px;
	padding:5px;
	width:calc(100% - 10px);

}

.notifly-shown {

	opacity:1;
	transform:none;

}

.notifly-gone {

	opacity:0;
	transform:translateY(150px);

}

/*Minimized state*/
.notifly-minimized {

	position:fixed;
	width:200px;
	height:35px;
	min-height:35px;
	top:calc(100% - 35px);
	float:left;
	z-index:1337;

}

.notifly-minimized .notifly-body {

	display:none;

}

.notifly-minimized .notifly-header .notifly-header-title {

	font-size:14px;
	height:13px;
	width:65%;
	overflow:hidden;

}